@import url(https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap);
@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);

body{
    font: {
        family: Caveat !important;
        size: 27px !important;
    }
    animation: fade-in-right 500ms forwards;

    @keyframes fade-in-right {
        0%{
            transform: translateX(-10);
            opacity: 0;
        }

        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
}

/* Start header */
header{
    nav{
        background-color: $bkg-cl;

        li{
            #color1{
                color: $darkgrey;
            }
            .nav-link{
                &:hover{
                    color: $darkgrey;
                }
            }
        }
    }
}
/* End header */

/* Start main */
main{

}

/* End main */